USE [master]
GO
/****** Object:  Database [WardrobeMVC]    Script Date: 7/28/2018 11:22:52 PM ******/
CREATE DATABASE [WardrobeMVC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WardrobeMVC', FILENAME = N'C:\Users\Michael\WardrobeMVC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WardrobeMVC_log', FILENAME = N'C:\Users\Michael\WardrobeMVC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WardrobeMVC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WardrobeMVC]
GO
USE [WardrobeMVC]
GO
/****** Object:  Table [dbo].[Accessory]    Script Date: 7/28/2018 11:22:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accessory](
	[AccessoryID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](50) NULL,
	[Photo] [nvarchar](200) NULL,
	[Color] [nvarchar](50) NULL,
 CONSTRAINT [PK_Accessory] PRIMARY KEY CLUSTERED 
(
	[AccessoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bottom]    Script Date: 7/28/2018 11:22:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bottom](
	[BottomID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](50) NULL,
	[Photo] [nvarchar](200) NULL,
	[Color] [nvarchar](50) NULL,
 CONSTRAINT [PK_Bottom] PRIMARY KEY CLUSTERED 
(
	[BottomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Charachter]    Script Date: 7/28/2018 11:22:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Charachter](
	[CharachterID] [int] IDENTITY(1,1) NOT NULL,
	[CharachterName] [nvarchar](200) NULL,
	[Photo] [nvarchar](200) NULL,
 CONSTRAINT [PK_Charachter] PRIMARY KEY CLUSTERED 
(
	[CharachterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OutfitName]    Script Date: 7/28/2018 11:22:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutfitName](
	[OutfitID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Season] [nvarchar](50) NULL,
	[Occasion] [nvarchar](50) NULL,
	[CharchterID] [int] NOT NULL,
 CONSTRAINT [PK_OutfitName] PRIMARY KEY CLUSTERED 
(
	[OutfitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OutfitPart]    Script Date: 7/28/2018 11:22:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OutfitPart](
	[OutfitPartID] [int] IDENTITY(1,1) NOT NULL,
	[TopID] [int] NULL,
	[BottomID] [int] NULL,
	[ShoeID] [int] NULL,
	[AccessoryID] [int] NULL,
	[OutfitID] [int] NOT NULL,
 CONSTRAINT [PK_OutfitPart] PRIMARY KEY CLUSTERED 
(
	[OutfitPartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shoe]    Script Date: 7/28/2018 11:22:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shoe](
	[ShoeID] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](50) NULL,
	[Color] [nvarchar](50) NULL,
	[Photo] [nvarchar](200) NULL,
 CONSTRAINT [PK_Shoe] PRIMARY KEY CLUSTERED 
(
	[ShoeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Top]    Script Date: 7/28/2018 11:22:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Top](
	[TopID] [int] NOT NULL,
	[ItemName] [nvarchar](50) NULL,
	[Photo] [nvarchar](200) NULL,
	[Color] [nvarchar](50) NULL,
 CONSTRAINT [PK_Top] PRIMARY KEY CLUSTERED 
(
	[TopID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accessory] ON 

INSERT [dbo].[Accessory] ([AccessoryID], [ItemName], [Photo], [Color]) VALUES (1, N'Hat', NULL, N'black')
SET IDENTITY_INSERT [dbo].[Accessory] OFF
SET IDENTITY_INSERT [dbo].[Bottom] ON 

INSERT [dbo].[Bottom] ([BottomID], [ItemName], [Photo], [Color]) VALUES (1, N'pant', N'', N'blue')
SET IDENTITY_INSERT [dbo].[Bottom] OFF
SET IDENTITY_INSERT [dbo].[Charachter] ON 

INSERT [dbo].[Charachter] ([CharachterID], [CharachterName], [Photo]) VALUES (3, N'Chad (mannequin)', N'https://i.imgur.com/Oqv2xoG.png')
INSERT [dbo].[Charachter] ([CharachterID], [CharachterName], [Photo]) VALUES (4, N'Stacey (wommanequin)', N'https://i.imgur.com/s2tpsKc.png')
SET IDENTITY_INSERT [dbo].[Charachter] OFF
SET IDENTITY_INSERT [dbo].[OutfitName] ON 

INSERT [dbo].[OutfitName] ([OutfitID], [Name], [Season], [Occasion], [CharchterID]) VALUES (2, N'The Businessman', N'Shark Week', N'businesstime', 3)
INSERT [dbo].[OutfitName] ([OutfitID], [Name], [Season], [Occasion], [CharchterID]) VALUES (3, N'The Lazy Susan', N'Winter', N'Naptime', 4)
SET IDENTITY_INSERT [dbo].[OutfitName] OFF
ALTER TABLE [dbo].[OutfitName]  WITH CHECK ADD  CONSTRAINT [FK_OutfitName_Charachter] FOREIGN KEY([CharchterID])
REFERENCES [dbo].[Charachter] ([CharachterID])
GO
ALTER TABLE [dbo].[OutfitName] CHECK CONSTRAINT [FK_OutfitName_Charachter]
GO
ALTER TABLE [dbo].[OutfitPart]  WITH CHECK ADD  CONSTRAINT [FK_OutfitPart_Accessory] FOREIGN KEY([AccessoryID])
REFERENCES [dbo].[Accessory] ([AccessoryID])
GO
ALTER TABLE [dbo].[OutfitPart] CHECK CONSTRAINT [FK_OutfitPart_Accessory]
GO
ALTER TABLE [dbo].[OutfitPart]  WITH CHECK ADD  CONSTRAINT [FK_OutfitPart_Bottom] FOREIGN KEY([BottomID])
REFERENCES [dbo].[Bottom] ([BottomID])
GO
ALTER TABLE [dbo].[OutfitPart] CHECK CONSTRAINT [FK_OutfitPart_Bottom]
GO
ALTER TABLE [dbo].[OutfitPart]  WITH CHECK ADD  CONSTRAINT [FK_OutfitPart_OutfitName] FOREIGN KEY([OutfitID])
REFERENCES [dbo].[OutfitName] ([OutfitID])
GO
ALTER TABLE [dbo].[OutfitPart] CHECK CONSTRAINT [FK_OutfitPart_OutfitName]
GO
ALTER TABLE [dbo].[OutfitPart]  WITH CHECK ADD  CONSTRAINT [FK_OutfitPart_Shoe] FOREIGN KEY([ShoeID])
REFERENCES [dbo].[Shoe] ([ShoeID])
GO
ALTER TABLE [dbo].[OutfitPart] CHECK CONSTRAINT [FK_OutfitPart_Shoe]
GO
ALTER TABLE [dbo].[OutfitPart]  WITH CHECK ADD  CONSTRAINT [FK_OutfitPart_Top] FOREIGN KEY([TopID])
REFERENCES [dbo].[Top] ([TopID])
GO
ALTER TABLE [dbo].[OutfitPart] CHECK CONSTRAINT [FK_OutfitPart_Top]
GO
USE [master]
GO
