@model IEnumerable<WardrobeMVC.Models.Shoe>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<a href=@Url.Action("Tutorial","Home")>Go to the Sitemap to assemble the rest of the outfit</a>
<div class="rolodex">
    @foreach (var item in Model)
    {

        <div class="cardinfo">
            <div class="cardframe">

                <img class="cardphoto" src="~/Images/chad.png" />
                <img class="cardphoto" src=@Url.Content(item.Photo) alt="Avatar">
            </div>
            <div class="cardtextcontainer">
                <div>
                    <h4><b> @Html.DisplayFor(modelItem => item.ItemName)</b></h4>
                    <a class="cardlinks" href=@Url.Action( "Edit", new { id = item.ShoeID })>Edit</a>
                    <a class="cardlinks" href=@Url.Action( "Details", new { id = item.ShoeID })>Details</a>
                    <a class="cardlinks" href=@Url.Action( "Delete", new { id = item.ShoeID })>Delete</a>
                </div>
            </div>
        </div>
    }

</div>
