@model WardrobeMVC.Models.Top

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

    <h4>Top</h4>
    <hr />

    <div class="row">
        <div class="col clothedetailscolone">
            <img class="clothearticle" src="~/Images/chad.png" />
            <img class="clothearticle" src=@Url.Content(Model.Photo) />

        </div>
        <div class="col outfitdetails">
            <h2>Name</h2>
            <p> @Url.Content(Model.ItemName)</p>

            <h2>Color</h2>
            <p> @Url.Content(Model.Color)</p>
        </div>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.TopID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
